<div class="grid-container">
  <!-- <h1 class="mat-h1">Smart Home Vis</h1> -->
  <mat-grid-list cols="2" rowHeight="160px">
    <!-- <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> -->

    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Medication - Dec 2019
            <button mat-raised-button class="help-button" color="primary" (click)="openDialog('med')">
              <mat-icon>help_outline</mat-icon> Help
            </button>
            
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-med-calendar></app-med-calendar>
          
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Weight - Dec 2019
            <button mat-raised-button class="help-button" color="primary" (click)="openDialog('weight')">
              <mat-icon>help_outline</mat-icon> Help
            </button>
            
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-weight-monthly></app-weight-monthly>
          
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>



    <mat-grid-tile [colspan]=2 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <!-- {{card.title}} -->
            Activity - Dec 2019
            
            <button mat-raised-button class="help-button" color="primary" (click)="openDialog('activity_monthly')">
              <mat-icon>help_outline</mat-icon> Help
            </button>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>            
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- NOTE: change heigth if you change rowHeight -->
          <app-monthly-activity></app-monthly-activity>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


</div>