
<mat-grid-list cols="2" rowHeight="120px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card  class="dashboard-card" > 
            <mat-card-header>
                <mat-card-title>                    
                    Weight
                </mat-card-title>
            </mat-card-header>          
            <mat-card-content class="dashboard-card-content">
                <img src="../../assets/weight.png">                    
                <div class="value">143 Lbs</div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card  class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                    Sleep
                </mat-card-title>
            </mat-card-header>            
            <mat-card-content class="dashboard-card-content">
                <img src="../../assets/sleeping.png">                    
                <div class="value">7 hr 15 min</div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card  class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                    Medication
                </mat-card-title>
            </mat-card-header>            
            <mat-card-content class="dashboard-card-content">
                <img src="../../assets/tablet.png">                    
                <div class="value">11:15 AM</div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card  class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                    Activity
                </mat-card-title>
            </mat-card-header>            
            <mat-card-content class="dashboard-card-content">
                <img src="../../assets/cooking.png">                    
                <div class="value">Kitchen</div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>