
::ng-deep .match{
    fill: green;
    opacity: 0.7;
    stroke:white;
}

::ng-deep .mismatch{
    fill: red;
    opacity: 0.7;
    stroke: white;
}

::ng-deep .refill{
    fill: steelblue;
    opacity: 0.7;
    stroke: white;
}



::ng-deep .dayEvent{
    opacity: 0.6;
}

.redDot {
    height: 10px;
    width: 10px;
    background-color: red;
    opacity:0.8;
    border-radius: 50%;
    display: inline-block;
  }

  .greenDot {
    height: 10px;
    width: 10px;
    background-color: green;
    opacity:0.8;
    border-radius: 50%;
    display: inline-block;
  }

  .blueDot {
    height: 10px;
    width: 10px;
    background-color: dodgerblue;
    opacity:0.8;
    border-radius: 50%;
    display: inline-block;
  }

  .space{
    height: 10px;
    width: 10px;
    
    display: inline-block;
  }

  .info{
      width:150px;
      position:absolute;
      right:20px;
      
  }

  table{
      width: 100%;
  }

  .matchText{
      color: green;
  }
  .mismatchText{
      color: red;
  }
  .refillText{
      color: dodgerblue;
  }

  tr.mat-row{
      height:25px;
  }

  tr.mat-header-row {
      height:25px;
      
  }

  th.mat-header-cell{
    text-align:center;
  }