::ng-deep .familyRoomLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  ::ng-deep .bathroomLine {
    fill: none;
    stroke: red;
    stroke-width: 2px;
  }

  ::ng-deep .bedroomLine {
    fill: none;
    stroke: green;
    stroke-width: 2px;
  }

  ::ng-deep .kitchenLine {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
  }

  ::ng-deep .familyRoomDot{
    fill: steelblue;
    stroke: steelblue;
    fill-opacity: 0.5;
  }

  ::ng-deep .bathroomDot{
    fill: red;
    stroke: red;
    fill-opacity: 0.5;
  }

  ::ng-deep .bedroomDot{
    fill: green;
    stroke: green;
    fill-opacity: 0.5;
  }

  ::ng-deep .kitchenDot{
    fill: grey;
    stroke: grey;
    fill-opacity: 0.5;
  }

  ::ng-deep .legendDot{
    fill-opacity: 0.7;
  }
  
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  