<div class="grid-container">
  <!-- <h1 class="mat-h1">Smart Home Vis</h1> -->
  <mat-grid-list cols="2" rowHeight="160px">
    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Summary - 5th January, 2020
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-summary-daily></app-summary-daily>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
        
            Activity
            <button mat-raised-button class="help-button" color="primary" (click)="openDialog('activity_daily')">
              <mat-icon>help_outline</mat-icon> Help
            </button>
           
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
         
          <app-activity-bar></app-activity-bar>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>         
            Microwave Usage
            <button mat-raised-button class="help-button" color="primary" (click)="openDialog('mw_usage')">
              <mat-icon>help_outline</mat-icon> Help
            </button>
            
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        
          <div style="position: relative; height:330px">
            <app-mw-usage #mwUsage [data]="chartData"></app-mw-usage>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <!-- {{card.title}} -->
            Hourly Activity
            <button mat-raised-button class="help-button" color="primary" (click)="openDialog('activity_hourly')">
              <mat-icon>help_outline</mat-icon> Help
            </button>
            
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- NOTE: change heigth if you change rowHeight -->
          <!-- <app-hourly-activity></app-hourly-activity> -->
          <app-activity-stacked></app-activity-stacked>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>


</div>